/* General rules */

* {
  border: 1px solid red;
  background: white;
}

/* Nav-bar */

.flex-nav {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  height: 200px;
}

.nav-item {
  height: 80%;
  margin: auto auto;
  width: 100%;
  text-align: center;
}

/* Latest articles */

.latest-articles {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 100%;
}

.latest-articles-item {
  width: 50%;
  height: 50%;
}
