/* General rules */

* {
  border: 1px solid red;
  background: white;
}

/* Nav-bar */

.flex-nav {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  height: 200px;
}

.nav-item {
  height: 100%;
  margin: 0.1px auto;
  width: 100%;
  text-align: center;
}

/* Latest articles */

.latest-articles {
  display: flex;
  flex-direction: row;
  height: 600px;
  width: 100%;
  flex-wrap: wrap;
}

.latest-articles-item {
  width: 49.5%;
  height: 50%;
}

/* MemberShip div  */

.membership-div {
  border: 0, 5px solid green;
}

/* latest articles section  */

.latest-posts-div {
  display: flex;
}
